##########################################
#                                        #
#                   SVN                  #
#                                        #
##########################################
.svn/
.svn


##########################################
#                                        #
#                INTELLIJ                #
#                                        #
##########################################
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules
.DS_Store


##########################################
#                                        #
#                 MAVEN                  #
#                                        #
##########################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties


##########################################
#                                        #
#                 BINARY                 #
#                                        #
##########################################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

##########################################
#                                        #
#                 ECLIPSE                #
#                                        #
##########################################
.project
*.classpath


##########################################
#                                        #
#                  JAVA                  #
#                                        #
##########################################
*.class
.metadata


##########################################
#                                        #
#            EXTERNAL TOOL BUILDER       #
#                                        #
##########################################
.externalToolBuilders/
LOG_DIR_IS_UNDEFINED/


##########################################
#                                        #
#                   LOGS                 #
#                                        #
##########################################
*.log

##########################################
#                                        #
#                    ANT                 #
#                                        #
##########################################
bin/


##########################################
#                                        #
#                   TEMP                 #
#                                        #
##########################################
tmp/
*.tmp
*.bak
tmp/**/*
tmp/**


##########################################
#                                        #
#                   GRADLE               #
#                                        #
##########################################
.gradle
build/


##########################################
#                                        #
#                   MULE                 #
#                                        #
##########################################
.mule/**
.mule/**/*

##########################################
#                                        #
#                    OTHER               #
#                                        #
##########################################
*.pydevproject
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.launch
.cproject
.buildpath
.target
.texlipse
*.prefs
*.name







































